{% extends "encyclopedia/layout.html" %}


{% block style %}
<style>
    input[name="title"]{
        margin-right: 1400px;
    }
    input[name="content"]{
        margin-right: 1400px;
        height: 400px;
        width: 500px;
    }
    input[type="submit"]{
        margin-top: 20px;
    }
</style>
{% endblock %}
{% block title %}
Create Page
{% endblock %}

{% block body %}

<form action="{% url 'wiki:create' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit">
</form>


{% endblock %}